<% unless comment.archived?%>
  <div class="card" style="width: 40rem; margin-bottom: 1rem !important">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p style="font-size: 1.5rem;"> <%= comment.body %> </p>
        <hr>
        <div class="d-inline-flex">
          <p style="margin-right: 2rem"> <i class="fas fa-user"> </i> By: <%= comment.commenter %> </p>
          <p> <i class="fas fa-calendar-plus"> </i> Commented on <%= comment.created_at.strftime("%b %d, %Y") %></p>
        </div>

        <% if user_signed_in? %>
          <% if comment.owner == current_user %>
            <p>
              <%= link_to 'Delete Comment', [comment.article, comment],
                class:"btn btn-success",
                method: :delete, data: { confirm: "Are you sure?" } 
              %>
            </p>
          <% end %>
        <% end %>

      </li>
    </ul>
  </div>
<% end %>


