<nav class="bg-gray-900 max-h-20 py-2 ">
    <div class="container flex mx-auto">
      <div class= "flex flex-grow">
        <img src="https://img.icons8.com/external-icongeek26-flat-icongeek26/64/000000/external-wolf-animal-faces-icongeek26-flat-icongeek26.png"/>
        <%=  link_to "Blog", root_path, class:"text-3xl text-white mt-3" %>
      </div>
      <div class="flex flex-grow justify-between">
        <div class="mt-3">
          <%=  link_to "Articles", root_path, class:"text-white text-3xl mr-7" %>
        </div>
        <div class="mt-4 ">
          <%=  link_to "Login", "#", class:"text-white border border-white py-2 px-5 rounded-md" %>
          <%=  link_to "Sign Up", "#", class:"text-black border border-white py-2 px-5 rounded-md bg-yellow-400" %>
        </div>
      </div>
      <div>
      </div>
    </div>
</nav>
