<% unless current_user == @user %>
  <div class="d-flex justify-content-center">
    <% if current_user.is_a_follower?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
  <% end %>
 </div>
<% end %>
